@font-face
  src url('@fonts/Montserrat-Regular.ttf')
  font-family Montserrat

.loadScreen
  position absolute
  top 0
  width 100%
  height 100%
  background #000
  display flex
  justify-content center
  align-items center
  transition 0.32s opacity ease-out

.loadModels
  margin 0
  padding 0
  color #fff
  font-family Montserrat