.loadScreen
  position absolute
  top 0
  width 100%
  height 100%
  background #000
  display flex
  flex-direction column
  justify-content center
  align-items center
  transition 0.55s opacity ease-out

.load
  margin 0
  padding 0
  color #fff
  font-family Montserrat
  user-select none